html {
  	height: 100%;
}

body {
  	min-height: 100%;
	background-color: #353839;
	color: #EEEEEE;
}

.sort-true {
  background:no-repeat url("img/sort-asc.gif") right center;
}

.sort-false {
  background:no-repeat url("img/sort-desc.gif") right center;
}

.positive {
  color: #00C000 !important;
}

.negative {
  color: #E00000 !important;
}

.sort-image {
  height: 20px;
  width: 20px;
}

.table-hover tr:hover td, .table-hover tr:hover th .positive, .table-hover tr:hover td, .table-hover tr:hover th .positive {
  color: #00C000;
}

.table-hover tr:hover td, .table-hover tr:hover th .positive, .table-hover tr:hover td, .table-hover tr:hover th .positive {
  color: #E00000;
}

.table-hover tr:hover td, .table-hover tr:hover th {
  background-color: #EEEEEE;
  color: #353839;
}

.extra-info-left {
  width: 45%;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
}

.extra-info-right {
  width: 45%;
  padding-left: 20px;
  padding-right: 20px;
  float: right;
}

a {
  color: inherit;
}

input {
  color: #353839;
}

#navbar-header {
  margin-top: 75px;
  padding-top: 100px;
  padding-left: 10%;
  vertical-align: middle;
  height: 250px;
  background: #2352AC;
  font-size: 300%;
  color: #EEEEEE;
}

.header {
  background: #2352AC;
  color: #EEEEEE;
}

#add-stock-btn {
  color: #2352AC;
}

#add-stock-div {
  margin-bottom: 40px;
}

#selector-div {
  height: 50px;
  vertical-align: bottom;
  margin-bottom: 75px;
}

#selector-table {
  width: 100%;
  margin: auto;
  background-color: #5b6374;
}

.selector-button {
  /* float: right; */
  text-align: center;
  font-size: 16px;
  /* border: solid; */
  height: 50px;
  width: calc(100% / 3);
}

.selector-button:hover {
  background-color: #346cd6;
}

#navbar-left {
  height: 100%;
  width: 10%;
  float: left;
}

#main {
  height: 100%;
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}

#navbar-right {
  height: 100%;
  width: 10%;
  float: right;
}

#documentation-header {
  font-size: 250%;
  font-weight: bold;
}

/* Font sizes */
.selector-button, #stock-table-header, .table-header, .documentation-label, #add-stock-header {
  font-size: 175%;
}

#stock-table-body, .equation, .documentation-text {
  font-size: 125%;
}

.documentation-label {
  font-size: 175%;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 25px;
}

.documentation-text {
  margin-left: 50px;
}

.equation {
  font-style: oblique;
  margin-left: 100px;
  margin-top: 25px;
  font-size: 100%;
}

.equation .td-label {
  padding-right: 10px;
  white-space: nowrap;
  vertical-align: top;
}

#documentation-header {
  margin-bottom: 25px;
}