html {
  	height: 100%;
}

body {
  	min-height: 100%;
	background-color: #353839;
	color: #EEEEEE;
}

.sort-true {
  background:no-repeat url("img/sort-asc.gif") right center;
}

.sort-false {
  background:no-repeat url("img/sort-desc.gif") right center;
}

.positive {
  color: #00C000 !important;
}

.negative {
  color: #E00000 !important;
}

.sort-image {
  height: 20px;
  width: 20px;
}

.table-hover tr:hover td, .table-hover tr:hover th .positive, .table-hover tr:hover td, .table-hover tr:hover th .positive {
  color: #00C000;
}

.table-hover tr:hover td, .table-hover tr:hover th .positive, .table-hover tr:hover td, .table-hover tr:hover th .positive {
  color: #E00000;
}

.table-hover tr:hover td, .table-hover tr:hover th {
  background-color: #EEEEEE;
  color: #353839;
}

.extra-info-left {
  width: 45%;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
}

.extra-info-right {
  width: 45%;
  padding-left: 20px;
  padding-right: 20px;
  float: right;
}

a {
  color: inherit;
}

input {
  color: #353839;
}

#navbar-header {
  margin-top: 75px;
  margin-bottom: 75px;
  padding-top: 100px;
  padding-left: 10%;
  vertical-align: middle;
  height: 250px;
  background: #2352AC;
  font-size: 300%;
  color: #EEEEEE; 
}

#navbar-left {
  height: 100%;
  width: 10%;
  float: left;
}

#main {
  height: 100%;
  width: 80%;
  margin: auto;
}

#navbar-right {
  height: 100%;
  width: 10%;
  float: right;
}