<!DOCTYPE html>
<html>
<head>
<title>Stock Attractiveness</title>

<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/stocks.css">
<script src="js/require/require.min.js" data-main="js/main.js"></script>

</head>

<body>

<div id="navbar-header" class="header">
Find the best stocks out there.
</div>

<div data-ng-app="stockTable">
<div data-ng-controller="stockTableCtrl">

<div id="selector-div" class="header">
<table id="selector-table" class="header">
	<tr>
		<td class="selector-button" ng-click="toggleView(1)">Stocks</td>
		<td class="selector-button" ng-click="toggleView(2)">Add a stock</td>
		<td class="selector-button" ng-click="toggleView(3)">Terms defined</td>
	</tr>
</table>
</div>

<div id="main">

<stock-table-dir ng-show="showStocks"></stock-table-dir>
<add-stock-dir ng-show="showAddStocks"></add-stock-dir>
<documentation-dir ng-show="showDocumentation"></documentation-dir>

</div>
</div>
</div>


</body>

</html>